#drawing{
  width:  1500px;
  height: 500px;
  border: 2px solid green;
  position:relative;
}
#drawing svg{
  position:absolute;
  top:0px;
  left:0px;
  overflow: visible;
}
#AMLogoDiv
{
  margin: auto;
  margin-top: 15px;
  height: 190px;
  width: 190px;
}
.am_svgContainer
{
  /*border: 10px solid #b6bdc3;*/
  width: 50px;
  /*background: #fff;*/
  /*margin: 0 auto;*/
  height: 50px;
  /*padding-top: 48%;*/
  position: relative;
  display: inline-block;
  margin: -15px 0px;
}
.am_svg
{
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}
#portrait
{
  float:left;
  margin:0 15px;
  width:150px;
}