#drawing{
  width:  1500px;
  height: 500px;
  border: 2px solid green;
  position:relative;
}
#drawing svg{
  position:absolute;
  top:0px;
  left:0px;
  overflow: visible;
}
#AMLogoDiv
{
  margin: auto;
  margin-top: 15px;
  height: 190px;
  width: 190px;
  overflow: visible;
}
.am_svgContainer, .am_svgContainerMini
{
  position: relative;
  overflow: visible;
}
.am_svgContainerMini
{
  width: 50px;
  height: 50px;
  margin: -15px 0px;
  display: inline-block;
}
.am_svg
{
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible!important;
}
#portrait
{
  float:left;
  margin:0 15px;
  width:150px;
}