#drawing{
  width:  500px;
  height: 500px;
  border: 2px solid green;
  position:relative;
}
#drawing svg{
  position:absolute;
  top:0px;
  left:0px;
  overflow: visible;
}
#AMLogoDiv
{
  margin: auto;
  margin-top: 15px;
  height: 190px;
  width: 190px;
  overflow: visible;
}
.am_svgContainer, .am_svgContainerMini
{
  position: relative;
  overflow: visible;
}
.am_svgContainerMini
{
  width: 50px;
  height: 50px;
  margin: -15px 0px;
  display: inline-block;
}
.am_svg
{
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible!important;
}
.projectContent > p
{
    margin: 25px 0px;
}
#portrait
{
  float:left;
  margin:0 15px;
  width:150px;
}
.animate-hide
{
    -webkit-transition: all linear .5s;
    transition: all linear .5s;
    opacity: 1;
    max-height: 2000px;
    line-height: 1.5;

}
.animate-hide.ng-hide
{
    max-height: 0;
    opacity: 0;
    line-height: 0;
}
.demoFrame
{
    width: 600px;
    height: 600px;
    overflow: hidden;
    margin: auto;
}