<div class="jumbotron">
    <div id="AMLogoDiv" class="am_svgContainer">
        <svg id="AMLogo" class="am_svg" xmlns="http://www.w3.org/2000/svg">

        </svg>
    </div>
    <h1>Welcome!</h1>
    <img id="portrait" src="media/adrian.png"/>
    <p>By day I'm a software developer at local software company. By night I'm also a gamer, woodworker, and origamist.</p>
    <p>My general interest in games and technology has lead me to study many things related to computer graphics, visualization, and visual perception. </p>
    <p>Make sure to take a look around!</p>

</div>