<div class="container">
    <div class="jumbotron">
        <h1>Projects & Research</h1>
        <p>Here's a collection of some of the projects and research I have done throughout the years.</p>
    </div>

    <div class="row">

        <div ng-repeat="teaser in teasers" class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <a href="{{teaser.link}}"><img src="{{teaser.image}}"></a>
                <div class="caption">
                    <h2>{{teaser.title}}</h2>
                    <p>{{teaser.description}} </p>
                    <p><a class="btn btn-primary" href="{{teaser.link}}" role="button">Find out more »</a></p>
                </div>
            </div>
        </div>

    </div>
</div>