<div class="jumbotron">
    <h1>Resume</h1>
</div>


<div class="resume">
    <div class="resume-section" ng-repeat="section in sections">
        <div class="resume-section-title">{{section.title}}</div>
        <div ng-if="section.type==='full'">
            <div ng-repeat="subsection in section.subsections">
                <div class="resume-section-subtitle" ng-if="subsection.subtitle">{{subsection.subtitle}}</div>
                <div class="resume-section-item" ng-repeat="item in subsection.items">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="resume-section-item-title1 col-sm-5">{{item.title1}}</div>
                                <div class="resume-section-item-title2 col-sm-5">{{item.title2}}</div>
                                <div class="resume-section-item-dates col-sm-2">{{item.dates}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="resume-section-item-detail" ng-repeat="line in item.detail">
                        {{line}}
                    </div>
                    <a class="resume-section-item-link" href="{{item.link}}">{{item.link}}</a>
                </div>
            </div>
        </div>
        <div ng-if="section.type==='pubs'">
            <div ng-repeat="pub in section.publications">
                <div class="row">
                    <div  class="resume-section-pub col-sm-12">
                        <span class="resume-section-pub-authors" ng-bind-html="pub.authors"></span>
                        <span class="resume-section-pub-title">"{{pub.title}}."</span>
                        <span class="resume-section-pub-journal">{{pub.journal}}.</span>
                        <span class="resume-section-pub-dates">{{pub.date}}</span>
                        <a   class="resume-section-pub-link" href="{{pub.link}}">{{pub.link}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>