<div class="container">
    <div class="jumbotron">
        <h1>Resume</h1>
        <p>A quick summary of my education, experience and projects.</p>
    </div>
    <!--<div class="row">-->
        <div class="resume">
            <div class="row">
                <div class="resume-section" ng-repeat="section in sections">
                <div class="col-xs-12" ng-if="section.type==='full'">
                    <div class="row">
                        <div ng-click="collapseSection(section)" class="resume-section-title col-xs-12">{{section.title}}</div>
                        <div ng-hide="section.collapsed" class="animate-hide">
                            <div ng-repeat="subsection in section.subsections">
                                <div class="resume-section-subtitle col-xs-12" ng-if="subsection.subtitle">{{subsection.subtitle}}</div>
                                <div class="resume-section-item" ng-repeat="item in subsection.items">
                                    <!--<div class="col-xs-12">-->
                                        <div class="row">
                                            <div class="col-xs-10">
                                                <span class="resume-section-item-title1">{{item.title1}}</span>
                                                <span ng-if="item.title2" class="resume-section-item-title2">~ {{item.title2}}</span>
                                                <span ng-if="item.title3" class="resume-section-item-title3">~ {{item.title3}}</span>
                                            </div>
                                            <div class="resume-section-item-dates col-xs-2">{{item.dates}}</div>
                                            <ul>
                                              <li class="resume-section-item-detail col-xs-12" ng-repeat="line in item.detail">{{line}}</li>
                                              <li ng-if="item.link" class="resume-section-item-link col-xs-12"><a href="{{item.link}}">{{item.link}}</a></li>
                                            </ul>
                                        </div>
                                    <!--</div>-->
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="section.type==='pubs'">
                    <div ng-click="collapseSection(section)" class="resume-section-title col-xs-12">{{section.title}}</div>
                    <div ng-hide="section.collapsed" class="animate-hide">
                        <div ng-repeat="pub in section.publications">
                            <div class="row">
                                <div  class="resume-section-pub col-xs-12">
                                    <span class="resume-section-pub-authors" ng-bind-html="pub.authors">.</span>
                                    <span class="resume-section-pub-title">. "{{pub.title}}."</span>
                                    <span class="resume-section-pub-journal"> {{pub.journal}}.</span>
                                    <span class="resume-section-pub-dates"> {{pub.date}}</span>
                                    <div>
                                        <a class="resume-section-pub-link" href="{{pub.link}}"> {{pub.link}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12"  ng-if="section.type==='list'">
                    <div class="row">
                        <div ng-click="collapseSection(section)" class="resume-section-title col-xs-12">{{section.title}}</div>
                        <div ng-hide="section.collapsed" class="animate-hide">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-4" ng-repeat="sublist in section.sublists">
                                        <div class="resume-list-title">{{sublist.title}}</div>
                                        <span ng-repeat="item in sublist.items">{{( $first ? item :", " + item)}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            </div>
        </div>
    <!--</div>-->
</div>