<div class="container">
    <div class="jumbotron">
        <h1>Paper Letters</h1>
        <p>Woodworking -> Origami -> Code. Virtually create letters (and more!) that look as if they were made from a strip of paper!</p>
    </div>
    <div class="projectContent">
        <p>
            This is a project that encompasses several of my hobbies. As I started getting more into woodworking (and getting better),
            my wife suggested that I come up with a logo that I could burn into my projects, as a way of literally putting my brand on them.
            I, of course, jumped at the idea.
        </p>

        <p>
            I came up with a few design constraints and started brainstorming.
            I basically wanted to tie together my name with my hobbies.
        </p>
        <h4>Logo needed to have:</h4>
        <ul>
            <li>My name or initials</li>
            <li>Origami element</li>
            <li>Woodworking element</li>
            <li>Code element</li>
        </ul>
        <p>
            I finally arrived at a design that I really liked.
        </p>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6 col-sm-offset-4 col-sm-4">
                <div class="thumbnail">
                    <img src="assets/paperletters/firstDraft.svg">
                    <div class="caption">
                        <p>First 'final' draft</p>
                    </div>
                </div>
            </div>
        </div>

        <p>
            The logo is my initials (AM) folded together from a single strip of paper.
            As far as representing my hobbies, its all in there, though at different levels of subtlety.
            The origami element is obvious in the folded strip.
            The woodworking element comes from my original motivations (and you know, when its actually burned into wood).
            The code element comes from how I designed it.
        </p>
        <p>
            At first, I designed the logo mostly on the computer using my intuitions about what folds look like.
            After looking at it for a while though, the angles started to bother me so I decided to make a physical prototype.
            I then realized that in order to get the right angles on the computer it would take some maths and geometry.
            So I naturally wrote a program that would allow me to draw any shape with strips.
        </p>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6 col-sm-offset-4 col-sm-4">
                <div class="thumbnail">
                    <img src="assets/paperletters/logoPaper.png">
                    <div class="caption">
                        <p>Paper prototype</p>
                    </div>
                </div>
            </div>
        </div>
        <iframe class="demoFrame" src="test.html"></iframe>
        <!--<div class="row">-->
            <!--<div class="col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4">-->
                <!--<div class="thumbnail">-->
                    <!--<img src="assets/paperletters/">-->
                    <!--<div class="caption">-->
                        <!--<p>Normal scatter plot</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-5 col-md-4">-->
                <!--<div class="thumbnail">-->
                    <!--<img src="assets/splatterplots/explanation.png">-->
                    <!--<div class="caption">-->
                        <!--<p>Features of a splatterplot</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<p>-->

        <!--</p>-->
        <!--<div class="embed-responsive embed-responsive-16by9">-->
            <!--<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9Uipb3MXaek" allowfullscreen></iframe>-->
        <!--</div>-->
        <!--<br>-->


    </div>
</div>