<div class="container">
    <div class="jumbotron">
        <h1>Splatterplots</h1>
        <p>A technique for muticlass scatter plots with millions of points.</p>
    </div>
    <div>
        <p>
            Splatterplots is a visualization technique that I developed working with Michael Gleicher during my time in graduate school.
            Traditional scatter plots are a great visualization tool, but they suffer from a over plotting (or over draw) when one tries to plot
            too many points at once. Over plotting occurs when the symbols used to represent points start to overlap. Another issue that occurs is visual clutter.
            Splatterplots use abstraction in order to avoid both of these issues.
        </p>

        <div class="row">
            <div class="col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4">
                <div class="thumbnail">
                    <img src="assets/splatterplots/witmoreScatter1.png">
                    <div class="caption">
                        <p>Normal scatter plot</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-md-4">
                <div class="thumbnail">
                    <img src="assets/splatterplots/explanation.png">
                    <div class="caption">
                        <p>Features of a splatterplot</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>