<div class="container">
    <div class="jumbotron">
        <h1>Splatterplots</h1>
        <p>A technique for muticlass scatter plots with millions of points.</p>
    </div>
    <div>
        <p>
            Splatterplots is a visualization technique that I developed working with Michael Gleicher during my time in graduate school.
            Traditional scatter plots are a great visualization tool, but they suffer from a over plotting (or over draw) when one tries to plot
            too many points at once. Over plotting refers to fact that when you have too many point is .
        </p>
    </div>


</div>